a {
  color: #008080;
  text-decoration: underline;
}

body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h3, h4, .links-panel strong {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.text-muted {
  font-style: italic;
}

.links-panel {
  max-width: 500px;
  border-right: 1px solid #DBD8A7;
  border-top: 1px solid #DBD8A7;
  background-color: #FFFDE3;
  height: 100%;
  margin-left: -1px;
  margin-top: -1px;
  padding-bottom: 60px;
}

.links-panel-backing {
  max-width: 500px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 33.33333333333%;
  border: 1px solid #DBD8A7;
  background-color: #FFFDE3;
  height: 100%;
  margin-left: -1px;
  margin-top: -1px;
}

ol {
  max-width: 400px;
}

.col-sm-8 * {
  max-width: 1300px;
}

.col-sm-4 p {
  margin-right: 10px;
  text-align: justify;
}

.col-sm-4 hr {
  border-color: #DBD8A7;
}

.col-sm-4 img {
  padding: 20px;
  max-width: 200px;
}

.btn {
  text-decoration: none;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.btn-group {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  max-width: 800px;
}

.contact-panel {
  margin: 15px;
  margin-bottom: 25px;
  padding: 15px;
  padding-top: 25px;
  background-color: #DEDEDE;
  border: 1px solid #C2C2C2;
}

.contact-panel .row {
  max-width: 800px;
}

.about-me {
  margin: 15px;
  margin-bottom: 40px;
  text-align: justify;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid #B8D9DB;
  background-color: #E1EFF0;
}

.about-me h3 {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
  padding: 5px;
  border: 1px solid #B8D9DB;
  background-color: #D1E7E8;
}

.lang {
  color: #185CC9;
  font-weight: bold;
}

.col-sm-6 p {
  padding: 20px;
  padding-top: 5px;
}

.col-sm-6 h4 {
  padding-left: 20px;
  text-decoration: underline;
}

.face {
  width: 100%;
  border: 1px solid #B8D9DB;
  background-color: #D1E7E8;
}

.face img {
  max-width: 30%;
  min-width: 300px;
  padding: 10px;
}

footer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #DEDEDE;
  border: 1px solid #C2C2C2;
}
