body {
  /*background-color: #E1EFF0;*/
}

a {
  color: #008080;
  text-decoration: underline;
}
.text-muted {
  font-style: italic;
}
.links-panel {
  border: 1px solid #DBD8A7;
  height: calc(100vh + 1px);
  margin-left: -1px;
  margin-top: -1px;
  background-color: #FFFDE3;
  overflow: hidden;
}

.col-sm-4 p {
  margin-right: 10px;
  text-align: justify;
}

.col-sm-4 hr {
  border-color: #DBD8A7;
}

.col-sm-4 img {
  padding: 20px;
  max-width: 200px;
}

.btn {
  text-decoration: none;
}

.btn-group {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  max-width: 800px;
}

.contact-panel {
  margin: 15px;
  margin-bottom: 25px;
  padding: 15px;
  padding-top: 25px;
  background-color: #DEDEDE;
  border: 1px solid #C2C2C2;
}

.contact-panel .row {
  max-width: 800px;
}

.about-me {
  margin: 15px;
  text-align: justify;
  padding: 10px;
  padding-top: 0px;
  border: 1px solid #B8D9DB;
  background-color: #E1EFF0;
}

.about-me h3 {
  text-align: center;
  padding: 5px;
  border: 1px solid #B8D9DB;
  background-color: #D1E7E8;
}
